.form-container {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  }

  .top-container {
    padding: 1rem;
    background-image: url('Cover.png');
    background-position: top;
    background-repeat: no-repeat, repeat;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 2rem;
}

.table{
  padding-left: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  
}

.title-container{
  padding-left: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
 
}

.btn{
  border-radius: 2rem;
}

#btngroup2{
  text-align: center;
  padding: 1rem;
}

 #bottombtn {
    border-radius: 2rem;
    padding: 0.7rem 2rem;
  }
  
   #topbtn {
      border-radius: 2rem;
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }